@import "mocha.css";

* {
  font-family: MesloLGS Nerd Font, Awesome Font;
  font-size: 16px;
  min-height: 0;
}

#waybar {
  background: @base;
  color: @text;
  margin: 5px;
  border-radius: 1rem;
}

#workspaces {
  border-radius: 0.75rem;
  margin: 5px;
  background-color: @surface0;
  margin-left: 1rem;
}

#workspaces button {
  color: @lavender;
  border-radius: 0.75rem;
  padding: 0.4rem;
}

#workspaces button.active {
  color: @crust;
  background-color: @lavender;
  border-radius: 0.75rem;
}

#workspaces button:hover {
  color: @sapphire;
  border-radius: 0.75rem;
}

#clock,
#hardware,
#window,
#pulseaudio {
  padding: 0.5rem 1rem;
}

#clock {
  color: @peach;
}

#pulseaudio {
  color: @teal;
}

#cpu,
#memory,
#disk {
  margin-left: 16px;
}

